<div class="mat-typography mat-app-background grid full-height"
     [ngClass]="themer.isLight ? 'app-light' : 'app-dark'">
    <mat-toolbar color="primary"
                 class="app-toolbar rounded-bottom">
        <span class="cursor-pointer"
              routerLink="/">Angular Layouts</span>
        <span fxFlex></span>
        <button mat-icon-button
                [ngClass]="themer.isLight ? 'color-amber' : 'color-text'"
                (click)="themer.toggleTheme()">
            <mat-icon *ngIf="themer.isLight">brightness_5</mat-icon>
            <mat-icon *ngIf="!(themer.isLight)">brightness_3</mat-icon>
        </button>
    </mat-toolbar>
    <div class="overflow">
        <router-outlet></router-outlet>
    </div>
</div>
